.header-nav-bar{
  background-color: #38ada9;
  padding: 0;
  margin: 0;
  border-bottom: solid 2px #ecf0f1;
  color: #ecf0f1;
}

#logo{
  min-height: 4vw;
  max-height: 4vw;
  min-width: 6.5vw;
  max-width: 6.5vw;
  padding: 0;
  margin: 0;
}
