.brickSet-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brickSet-card{
  margin: 2vw 1vw 2vw 1vw;
  padding: 1vw;
  min-width: 27vw;
  max-width: 27vw;
  min-height: 15vw;
  max-height: 15vw;
  border-radius: .5rem;
}
