.brickSet-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-button{
  padding: .3vw;
  margin:0;
  border-radius: .5rem;
  color: #38ada9;
  font-size: 3em;
}

.brickSet-card{
  margin: 2vw 1vw 2vw 1vw;
  padding: 1vw;
  min-width: 27vw;
  max-width: 27vw;
  height: auto;
  border: solid 1px #38ada9;
}

.brickSet-card-header{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 5.3vw;
  max-height: 5.3vw;
  background-color: #6a89cc;
}

.brickSet-card-body{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.brickSet-card-body-content{
  padding: 1.5vw;
}

.category{
  background-color: #38ada9;
}

.sub-category{
  background-color: #f8c291;
}

.serial-number{
  background-color: #b8e994;
  color: #0a3d62;
}

.serial-number-icon{
  color: #079992;
}

.serial-number-link{
  color: #6a89cc;
}

.edit-button{
  color: #ecf0f1;
  background-color: #e58e26;
}

.delete-button{
  color: #ecf0f1;
  background-color: #e55039;
}

.brickSet-card-footer{
}
