<div class="container-fluid brickSet-card-container bg-info ">
  <div class="text-center bg-light text-white brickSet-card border-5 rounded-3" *ngFor="let brickSet of brickSets">
    <h4 class="card-header bg-primary rounded-3 brickSet-card-header">{{brickSet.name}}</h4>
    <br>
    <div class="card-body rounded-3 brickSet-card-body p-0">
      <div class="bg-success brickSet-card-body-content rounded-3">{{brickSet.subCategory.category.name}}</div>
      <div class="bg-danger brickSet-card-body-content rounded-3">{{brickSet.subCategory.name}}</div>
    </div>
    <br>
    <div class="card-footer text-muted bg-warning rounded-3 brickSet-card-footer">
      <a href="#">
        <h5 class="card-title text-light" title="voir en détails">{{brickSet.serialNumber}}</h5>
      </a>
    </div>
  </div>
</div>
