<div class="container-fluid brickSet-card-container">

  <div class="text-center bg-light text-white brickSet-card border-5 rounded-3 d-flex justify-content-center align-items-center">
    <div class="add-button">
      <a data-bs-toggle="modal" data-bs-target="#addBrickSetModal" (click)="onOpenModal('add')" title="Ajouter un set" id="addButton">
        <i class="fa-solid fa-plus add-button"></i>
      </a>
    </div>
  </div>

  <!-- BrickSet Card -->
  <div class="text-center bg-light text-white brickSet-card border-5 rounded-3" id="main-container" *ngFor="let brickSet of brickSets">
    <h4 class="card-header rounded-3 brickSet-card-header">{{brickSet.name}}</h4>
    <br>
    <div class="card-body rounded-3 brickSet-card-body p-0">
      <div class="brickSet-card-body-content category rounded-3">{{brickSet.subCategory.category.name}}</div>
      <div class="brickSet-card-body-content sub-category rounded-3">{{brickSet.subCategory.name}}</div>
    </div>
    <br>
    <div class="card-footer text-muted rounded-3 brickSet-card-footer serial-number">
      <h5 class="card-title text-light" title="voir en détails">
        <b class="serial-number-link">Set n°{{brickSet.serialNumber}} </b>
      </h5>
    </div>
    <br>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button id="brickSetDescriptionParent" class="accordion-button collapsed description-button" type="button" data-bs-toggle="collapse" data-bs-target="#brickSetDescription" aria-expanded="false" aria-controls="collapseOne">
          <b>Description</b>
        </button>
      </h2>
        <div id="brickSetDescription"  class="description-content accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#brickSetDescriptionParent" style="">
        <div class="accordion-body">
          <p>{{brickSet.description}}</p>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted rounded-3 brickSet-card-footer d-flex justify-content-around">
      <button class="btn edit-button" title="Modifier">
        <a (click)="onOpenModal('update')"  data-bs-placement="top" data-bs-toggle="tooltip" data-bs-original-title="Edit">
          <i class="fa-solid fa-pencil"></i>
        </a>
      </button>
      <button class="btn delete-button" title="Supprimer">
        <a (click)="onOpenModal('delete')" data-bs-placement="top" data-bs-toggle="tooltip" data-bs-original-title="Delete">
          <i class="fa-solid fa-trash-can"></i>
        </a>
      </button>
    </div>
  </div>

  <!-- Add Modal -->
  <div class="modal fade" id="addBrickSetModal" tabindex="-1" role="dialog" aria-labelledby="addBrickSetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addBrickSetModalLabel">Ajouter un set LEGO®</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddBrickSet(addForm)">
            <div class="form-group">
              <label for="name"></label>
              <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Nom du set" required>
            </div>
            <div class="form-group">
              <label for="addBrickSetSerialNumber"></label>
              <input type="text" ngModel name="serialNumber" class="form-control" id="addBrickSetSerialNumber" placeholder="Numéro de série" required>
            </div>
            <div class="form-group">
              <label for="addBrickSetCategory"></label>
              <input type="text" ngModel name="category" class="form-control" id="addBrickSetCategory" placeholder="Catégorie" required>
            </div>
            <div class="form-group">
              <label for="addBrickSetSubCategory"></label>
              <input type="text" ngModel name="subCategory" class="form-control" id="addBrickSetSubCategory" placeholder="Sous-catégorie" required>
            </div>
            <div class="form-group">
              <label for="addBrickSetPrice"></label>
              <input type="text" ngModel name="price" class="form-control" id="addBrickSetPrice" placeholder="Prix" required>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button type="button" id="addBrickSetForm" class="btn btn-danger m-2" data-bs-dismiss="modal">
                Annuler
              </button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-success m-2">
                Valider
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Update Modal -->
  <div class="modal fade" id="updateBrickSetModal" tabindex="-1" role="dialog" aria-labelledby="updateBrickSetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateBrickSetModalLabel">Modifier ce set LEGO®</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #updateForm="ngForm">
            <input type="hidden" ngModel="{{updatedBrickSet?.id}}" name="id" class="form-control" id="id" placeholder="id">
            <div class="form-group">
              <label for="updateBrickSetName"></label>
              <input type="text" ngModel="{{updatedBrickSet?.name}}" name="updateBrickSetName" class="form-control" id="updateBrickSetName" placeholder="Nom du set" required>
            </div>
            <div class="form-group">
              <label for="updateBrickSetSerialNumber"></label>
              <input type="text" ngModel="{{updatedBrickSet?.serialNumber}}" name="updateBrickSetSerialNumber" class="form-control" id="updateBrickSetSerialNumber" placeholder="Numéro de série" required>
            </div>
            <div class="form-group">
              <label for="category"></label>
              <select id="category" class="form-control form-select m-lg-1" aria-label="Default select example"
                      [(ngModel)]="selectedCategory"
                        (change)="updateCategory($event)">
                <option [ngValue]="undefined" selected>Catégorie</option>
                <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="subCategory"></label>
              <select id="subCategory" class="form-control form-select m-lg-1" aria-label="Default select example"
                      [(ngModel)]="selectedSubCategory"
                        (change)="updateSubCategory($event)">
                <option [ngValue]="undefined" selected>Sous-Catégorie</option>
                <option *ngFor="let subCategory of subCategories" [ngValue]="subCategory">{{subCategory.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="updateBrickSetPrice"></label>
              <input type="text" ngModel="{{updatedBrickSet?.price}}" name="updateBrickSetPrice" class="form-control" id="updateBrickSetPrice" placeholder="Prix" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="updateBrickSetForm" class="btn btn-danger m-2" data-bs-dismiss="modal">
                Annuler
              </button>
              <button [disabled]="updateForm.invalid" type="submit" class="btn btn-success m-2">
                Valider
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteBrickSetModal" tabindex="-1" role="dialog" aria-labelledby="deleteBrickSetModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteBrickSetModelLabel">Supprimer un set</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Êtes-vous certain de vouloir supprimer ce set?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
<!--            <button (click)="onDeleteBrickSet(deletedBrickSet.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>-->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
